:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .links {
    display: flex;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0b0a0a;
}

.links a {
    margin-right: 10px; /* Adjust the spacing between links as needed */
    font-size: 1.5rem; /* גודל גופן גלובלי */
    line-height: 1.5; /* שיפור מרווח בין שורות */
    /* margin-bottom: 300px; */
    margin-left: 10px;
    margin-right: 50px;  
}
.words{
  display: flex;
  margin-left: 300px;
  margin-right: 10px; /* Adjust the spacing between links as needed */
  /* margin-bottom: -40px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #242424;
}
.Nav{
  margin-right: 10px; /* Adjust the spacing between links as needed */

  display: flex;
  margin-left: 300px;
  /* margin-bottom: 40px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #242424;
}
.gallery {
  display: flex;
  flex-wrap: wrap; /* מאפשר תמונות בשורות */
  gap: 20px; /* רווחים בין האלמנטים */
  justify-content: center; /* מרכז את התמונות */
}

.image-item {
  text-align: center; /* ממרכז את כל התוכן (תמונה + שם) */
}

.img {
  width: 200px; /* רוחב התמונה */
  height: 50px; /* גובה התמונה */
  object-fit: cover; /* שומר על פרופורציות */
}
.styled-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.styled-table th, .styled-table td {
  border: 1px solid black;
  padding: 8px;
}

.styled-table th {
  background-color: lightgray; /* צבע רקע לכותרת */
}
.navbar{
  display: flex;
  margin-left: 300px;
  margin-right: 10px; /* Adjust the spacing between links as needed */
  /* margin-bottom: -40px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #8a0d0d;
  font-size: 1.5rem; /* גודל גופן גלובלי */
  line-height: 1.5; /* שיפור מרווח בין שורות */
  gap: 30px; /* רווחים בין האלמנטים */

}
.styleofregister{
  display: row;
  margin-left: 350px;
  margin-right: 10px; /* Adjust the spacing between links as needed */
  /* margin-bottom: -40px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #8a0d0d;
  font-size: 1.5rem; /* גודל גופן גלובלי */
  line-height: 1.5; /* שיפור מרווח בין שורות */
  gap: 30px; /* רווחים בין האלמנטים */
}
}
